# Variables
# Each frame is a Hash of coordiates which should be HIT.



#Intro
@frame1 = Hash["b4" => HIT]
@frame2 = Hash["c4" => HIT]
@frame3 = Hash["b5" => HIT]
@frame4 = Hash["c5" => HIT]
@frame5 = Hash["g4" => HIT]
@frame6 = Hash["f4" => HIT]
@frame7 = Hash["g5" => HIT]

@frame8 = Hash["a7" => HIT]
@frame9 = Hash["b7" => HIT]
@frame10 = Hash["a7" => HIT]
@frame11 = Hash["c7" => HIT]

@frame12 = Hash["a7" => HIT]
@frame13 = Hash["b7" => HIT]
@frame14 = Hash["a7" => HIT]
@frame15 = Hash["c7" => HIT]

@frame16 = Hash["a7" => HIT]
@frame17 = Hash["b7" => HIT]
@frame18 = Hash["a7" => HIT]
@frame19 = Hash["c7" => HIT]

#something is different here.
@frame16 = Hash["a7" => HIT]
@frame17 = Hash["b7" => HIT]
@frame18 = Hash["a7" => HIT]
@frame19 = Hash["c7" => HIT]

#Bottom to top
@frame20 = Hash["d8" => HIT]
@frame21 = Hash["e8" => HIT]
@frame22 = Hash["d7" => HIT]
@frame23 = Hash["e7" => HIT]
@frame24 = Hash["d6" => HIT]
@frame25 = Hash["e6" => HIT]
@frame26 = Hash["d5" => HIT]
@frame27 = Hash["e5" => HIT]
@frame28 = Hash["d4" => HIT]
@frame29 = Hash["e4" => HIT]
@frame30 = Hash["d3" => HIT]
@frame31 = Hash["e3" => HIT]
@frame32 = Hash["d2" => HIT]
@frame33 = Hash["e2" => HIT]
@frame34 = Hash["d1" => HIT]
@frame35 = Hash["e1" => HIT]

#Around the sides
@frame36 = Hash["c1" => HIT]
@frame37 = Hash["f1" => HIT]
@frame38 = Hash["b1" => HIT]
@frame39 = Hash["g1" => HIT]
@frame40 = Hash["a1" => HIT]
@frame41 = Hash["h1" => HIT]
@frame42 = Hash["a2" => HIT]
@frame43 = Hash["h2" => HIT]
@frame44 = Hash["a3" => HIT]
@frame45 = Hash["h3" => HIT]
@frame46 = Hash["a4" => HIT]
@frame47 = Hash["h4" => HIT]
@frame48 = Hash["a5" => HIT]
@frame49 = Hash["h5" => HIT]
@frame50 = Hash["a6" => HIT]
@frame51 = Hash["h6" => HIT]

#HIT the donk
@frame52 = Hash["a1" => HIT, "d4" => HIT]
@frame53 = Hash["a1" => HIT]
@frame54 = Hash["b1" => HIT]
@frame55 = Hash["b1" => HIT]
@frame56 = Hash["a1" => HIT]

@frame57 = Hash["b1" => HIT]
@frame58 = Hash["b1" => HIT]
@frame59 = Hash["c1" => HIT]

@frame60 = Hash["a1" => HIT]
@frame61 = Hash["a1" => HIT]
@frame62 = Hash["b1" => HIT]
@frame63 = Hash["b1" => HIT]
@frame64 = Hash["a1" => HIT]
@frame65 = Hash["b1" => HIT]
@frame66 = Hash["b1" => HIT]




@frames = [@frame1, @frame2, @frame3, @frame4, @frame5, @frame6, @frame7, @frame8, @frame9, @frame10, @frame11, @frame12, @frame13, @frame14, @frame15, @frame16, @frame17, @frame18, @frame19, @frame20, @frame21, @frame22, @frame23, @frame24, @frame25, @frame26, @frame27, @frame28, @frame29, @frame30, @frame31, @frame32, @frame33, @frame34, @frame35, @frame36, @frame37, @frame38, @frame39, @frame40, @frame41, @frame42, @frame43, @frame44, @frame45, @frame46, @frame47, @frame48, @frame49, @frame50, @frame51, @frame52, @frame53, @frame54, @frame55, @frame56, @frame57, @frame58, @frame59, @frame60, @frame61, @frame62, @frame63, @frame64, @frame65]
