# Variables
# Each frame is a hash of coordiates which should be HIT.

@frame1 = Hash["f5" => HIT, "b3" => HIT]
@frame2 = Hash["f5" => HIT, "b3" => HIT, "a2" => HIT]
@frame3 = Hash["f5" => HIT, "b3" => HIT, "a2" => HIT, "a1" => HIT]
@frame4 = Hash["a1" => HIT, "a2" => HIT, "b3" => HIT, "f5" => HIT, "f8" => HIT]
@frame5 = Hash["a1" => HIT, "a2" => HIT, "b3" => HIT, "f8" => HIT, "h5" => HIT]
@frame6 = Hash["a1" => HIT, "a2" => HIT, "b3" => HIT, "f8" => HIT, "e4" => HIT]
@frame7 = Hash["a1" => HIT, "a2" => HIT, "b3" => HIT, "f5" => HIT, "f8" => HIT]
@frame8 = Hash["a2" => HIT, "e6" => HIT]
@frame9 = Hash["a1" => HIT, "a2" => HIT, "e6" => HIT]
@frame10 = Hash["a1" => HIT, "a2" => HIT, "d1" => HIT, "e6" => HIT]
@frame11 = Hash["a1" => HIT, "a2" => HIT, "d1" => HIT, "e6" => HIT, "e7" => HIT]
@frame12 = Hash["a1" => HIT, "a2" => HIT, "d1" => HIT, "f6" => HIT]
@frame13 = Hash["a1" => HIT, "a2" => HIT, "d1" => HIT, "e6" => HIT]
@frame14 = Hash["d4" => HIT, "g7" => HIT]
@frame15 = Hash["d3" => HIT, "d4" => HIT, "g7" => HIT]
@frame16 = Hash["c2" => HIT, "d3" => HIT, "d4" => HIT, "g7" => HIT]
@frame17 = Hash["c2" => HIT, "d1" => HIT, "d3" => HIT, "d4" => HIT, "g7" => HIT]
@frame18 = Hash["c2" => HIT, "d1" => HIT, "d3" => HIT, "d4" => HIT, "g7" => HIT]
@frame19 = Hash["c2" => HIT, "d1" => HIT, "d3" => HIT, "d4" => HIT, "e6" => HIT]
@frame20 = Hash["c2" => HIT, "d1" => HIT, "d3" => HIT, "d4" => HIT, "f6" => HIT]
@frame21 = Hash["c5" => HIT, "f6" => HIT]
@frame22 = Hash["b3" => HIT, "c5" => HIT, "f6" => HIT]
@frame23 = Hash["c2" => HIT, "b3" => HIT, "c5" => HIT, "f6" => HIT]
@frame24 = Hash["b1" => HIT, "b3" => HIT, "c2" => HIT, "c5" => HIT, "f6" => HIT]


# Array of all the frame Hashes. 
# Could probs generate this.
@frames = [@frame1, @frame2, @frame3, @frame4, @frame5, @frame6, @frame7, @frame8, @frame9, @frame10, @frame11, @frame12, @frame13, @frame14, @frame15, @frame16, @frame17, @frame18, @frame19, @frame20, @frame21, @frame22, @frame23, @frame24]
